--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cpu
--prefer-binary

streamlit==1.50.0
transformers==4.56.2
torch==2.8.0
tokenizers==0.22.1
huggingface_hub==0.35.1
pypdf==6.1.0
python-docx==1.2.0
trafilatura==2.0.0
readability-lxml==0.8.4.1
